<div class="container-fluid mt-4 text-center">
	<h1> Login Form </h1>
	<h3> Login to book a ride </h3>
</div>
<div class="container col-lg-6">
	<div class="form mt-lg-5">
		<form (ngSubmit)="loginUser()" [formGroup]="loginForm" class="needs-validation" novalidate>
			<div class="mt-lg-3 mb-lg-3">
				<label class="form-label" for="email-input">E-Mail: </label>
				<input class="form-control" formControlName="email" id="email-input"
					   pattern="^[a-zA-Z0-9._]+@+[a-zA-Z]+.com"
					   required type="email">
				<div *ngIf="loginForm.controls['email'].hasError('required')" class="invalid-feedback"> Email
					Cannot be blank
				</div>
				<div *ngIf="loginForm.controls['email'].hasError('pattern')" class="invalid-feedback"> EMail must
					contain an '@' and must end with '.com'
				</div>
			</div>
			<div class="mt-lg-3 mb-lg-3">
				<label class="form-label" for="password-input">Password: </label>
				<input class="form-control" formControlName="password" id="password-input" maxlength="25" minlength="10"
					   required
					   type="password">
				<div *ngIf="loginForm.controls['password'].hasError('required')" class="invalid-feedback">
					Password Cannot be blank
				</div>
				<div *ngIf="loginForm.controls['password'].hasError('minlength')" class="invalid-feedback">
					Must contain at least 10 characters
				</div>
				<div *ngIf="loginForm.controls['password'].hasError('maxlength')" class="invalid-feedback">
					Must contain at most 25 characters
				</div>
			</div>
			<div class="buttons mt-lg-3 mb-lg-3">
				<div class="mt-lg-3 mb-lg-3">
					<button class="btn btn-success col-lg-12" type="submit"> Login</button>
				</div>
				<div class="mt-lg-3 mb-lg-3">
					<button class="btn btn-danger col-lg-12" type="reset"> Reset</button>
				</div>
				<div class="mt-lg-3 mb-lg-3">
					<button class="btn btn-primary col-lg-12" routerLink="/registration" type="button">
						New User ? Kindly Register to Continue
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
