<div class="container-fluid bg-dark">
	<h3> EZ Rides - A Ride Booking Application</h3>
	<h3>
		<span> Connect With Us: </span>
		<a href="#" target="_blank">
			<img alt="facebook" src="assets/images/facebook.png">
		</a>
		<a href="#" target="_blank">
			<img alt="instagram" src="assets/images/instagram.jpg">
		</a>
		<a href="#" target="_blank">
			<img alt="twitter" src="assets/images/twitter.png">
		</a>
		<a href="#" target="_blank">
			<img alt="gmail" src="assets/images/gmail.png">
		</a>
	</h3>
</div>
