<div class="container-fluid mt-4 text-center">
	<h1> Registration Form </h1>
	<h3> Register Once, Avail Cabs Anytime</h3>
</div>
<div class="container">
	<div class="form mt-lg-5 justify-content-center">
		<form class="needs-validation" novalidate>
			<div class="mt-lg-3 mb-lg-3">
				<label class="form-label" for="name-input">Full Name: </label>
				<input class="form-control" id="name-input" required type="text">
				<div class="invalid-feedback"> Name Cannot be blank</div>
			</div>
			<div class="mt-lg-3 mb-lg-3">
				<label class="form-label" for="contact-input">Contact: </label>
				<input class="form-control" id="contact-input" required type="text">
				<div class="invalid-feedback"> Name Cannot be blank</div>
			</div>
			<div class="mt-lg-3 mb-lg-3">
				<label class="form-label" for="email-input">E-Mail: </label>
				<input class="form-control" id="email-input" required type="email">
				<div class="invalid-feedback"> Name Cannot be blank</div>
			</div>
			<div class="mt-lg-3 mb-lg-3">
				<label class="form-label" for="password-input">Password: </label>
				<input class="form-control" id="password-input" required type="password">
				<div class="invalid-feedback"> Name Cannot be blank</div>
			</div>
		</form>
	</div>
</div>
